body {
    font-size: 19px;
    background-image: linear-gradient(to right, #FFB6B6, #FFCEB6, #FFDDB6, #FFEFB6, #FCFFB6, #EDFFB6, #DDFFB6, #D0FFB6, #BEFFB6, #B6FFC3, #B6FFD8, #B6FFE8, #B6FFFA, #B6EFFF, #B6DDFF, #B6CBFF, #B6B6FF, #DAB6FF, #EDB6FF, #FFB6FA)
}

table {
    width: 100%;
    margin: 30px auto;
    border-collapse: collapse;
    text-align: left;
}

tr {
    border-bottom: 1px solid #cbcbcb;
}

th,
td {
    border: none;
    height: 30px;
    padding: 2px;
}

tr:hover {
    background: #F5F5F5;
}

form {
    width: 45%;
    margin: 50px auto;
    text-align: left;
    padding: 20px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
}

header {
    width: 45%;
    margin: 50px auto;
    text-align: left;
    padding: 20px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
}

footer {
    width: 45%;
    margin: 50px auto;
    text-align: left;
    padding: 20px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
}

.rodape {
    width: 24%;
}

.input-group {
    margin: 10px 0px 10px 0px;
}

.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}

.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}

.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #5F9EA0;
    border: none;
    border-radius: 5px;
}

.edit_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: #2E8B57;
    color: white;
    border-radius: 3px;
}

.del_btn {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    background: #800000;
}

.voltar_btn {
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    background: #5F9EA0;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-left: 630px;
}

.sair_btn {
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    background: #5F9EA0;
    border: none;
    border-radius: 5px;
    margin-top: 50px;
    text-align: center;
}

.inva {
    margin: 30px auto;
    padding: 10px;
    border-radius: 5px;
    color: #811c0e;
    background: #f0e0d8;
    border: 1px solid #a81309;
    width: 50%;
    text-align: center;
}

.msg {
    margin: 30px auto;
    padding: 10px;
    border-radius: 5px;
    color: #3c763d;
    background: #dff0d8;
    border: 1px solid #3c763d;
    width: 50%;
    text-align: center;
}

.github {
    padding: 10px;
    text-decoration: none;
    font-size: 24px;
    color: black;
    border: none;
    text-align: center;
}

.menu_principal {
    width: 45%;
    margin: 50px auto;
    text-align: left;
    padding: 20px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
}

.empre {
    position: relative;
    text-align: center;
    font-size: 40px;
    width: auto;
    margin: auto;
}

.lista {
    width: 45%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: blue;
}

.menu-nav {
    top: 20%;
    position: relative;
    color: #000;
    text-align: center;
}

.btn-menu {
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    border: none;
    border-radius: 5px;
    margin-top: 50px;
    text-align: center;
}

.btn-menu:hover {
    background-image: linear-gradient(to right, #FF00FB, #F900F9, #E400F9, #DC00F9, #D500F9, #C300F9, #BB00F9, #B200F9, #A600F9, #9E00F9, #9500F9, #8900F9, #8100F9, #7800F9, #7000F9, #6800F9, #5F00F9, #5300F9, #4B00F9, #4200F9, #3200F9, #2A00F9, #2100F9, #1900F9, #1100F9);
    color: #ffff;
}